/*
canvas {
  background-color: #292F33;
  padding: 0;
    margin: auto;
    display: block;
}*/

div {
  height: 700px;
  width: 700px;
  background-color: silver;
}

ul {
  width: 204px;
  height: 204px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  border: 5px solid red;
}

li {
  width: 100px;
  height: 100px;
  background-color:blue;
  float: left;
  margin: 1px;
}
